# Series is an object of pandas

In [1]:
import pandas as pd

In [4]:
# Creating a series of list 
ice_cream = ["Chocolate","Vanilla","Strawberry","Tooti fruti"]
pd.Series(ice_cream) # remember S not s

0      Chocolate
1        Vanilla
2     Strawberry
3    Tooti fruti
dtype: object

In [6]:
nums = [1,2,3,4,5,6,7,8,9,10]
pd.Series(nums)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [8]:
# Using dictionaries as pandas series , here the index levels are replaced by the keys
webster = {"Aardvark":"An Animal",
            "Banana":"A Fruit",
           "Cyan":"color"
          }
pd.Series(webster)

Aardvark    An Animal
Banana        A Fruit
Cyan            color
dtype: object

In [9]:
# Intro to Atribute
about_me = ["Smart","Handsome","Charming","Brilliant","Humble"]
abt_me = pd.Series(about_me)

# Attributes does not need ()

In [14]:
abt_me.values

array(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble'],
      dtype=object)

In [15]:
abt_me.index

RangeIndex(start=0, stop=5, step=1)

In [16]:
# Methods that are availble in Series object

In [18]:
prices = [56.23,5689.256,85.23]
price = pd.Series(prices)
price.sum()

5830.715999999999

In [19]:
price.mean()

1943.572

## Parameters and Arguments in pandas , shift+Tab will open the documentation

In [21]:
fruits = ["Apple","Mango","Banana","Orange","Guava"]
weekdays = ["Monday","Tuesday","Wednesday","Thursday","Friday"]

pd.Series(fruits,weekdays)

Monday        Apple
Tuesday       Mango
Wednesday    Banana
Thursday     Orange
Friday        Guava
dtype: object

In [22]:
# Repetation of data
fruits = ["Apple","Mango","Banana","Orange","Guava","Kinoo"]
weekdays = ["Monday","Tuesday","Wednesday","Thursday","Friday","Monday"]

pd.Series(data = fruits,index = weekdays)

Monday        Apple
Tuesday       Mango
Wednesday    Banana
Thursday     Orange
Friday        Guava
Monday        Kinoo
dtype: object

# Reading the data from origin csv

In [25]:
pokemon = pd.read_csv("pokemon.csv",usecols=["Name"],squeeze=True)
print(pokemon)

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object